#adminContact_inner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#adminContact_inner h2 {
  margin-top: 0;
  text-align: center;
}

#adminContact_outer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 2px solid black;
  padding: 3%;
  background-color: #fcf5ea;
}

.adminContactTable_outer {
  padding: 8px;
  border: 2px solid black;
  border-collapse: collapse;
}

.adminContactheading {
  padding: 8px;
  border: 2px solid black;
  text-align: center;
}

#adminContactfilter_form {
  display: flex;
  margin-bottom: 2%;
  justify-content: right;
  flex-direction: row;
}

.adminContactfilter_input {
  margin-right: 1%;
  padding: 0.8%;
}

#adminContactfilter_submit {
  padding: 1%;
  cursor: pointer;
}
