.orders_inner {
  border: 2px solid black;
  background-color: #fcf5ea;
  width: 90%;
  padding: 0 5% 3%;
  margin-top: 20%;
}

.ordersList {
  background-color: #d9d9d9;
  padding-bottom: 3%;
}

.orderhrline {
  width: 80%;
  background: black;
}

.orderseparationStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderseparationprice {
  padding-right: 4%;
}

.orderseparationtotal {
  padding-left: 4%;
}
