.orders_inner {
  border: 2px solid black;
  background-color: #fcf5ea;
  width: 90%;
  padding: 0 5% 3%;
  margin-top: 20%;
}

.ordersList {
  background-color: #d9d9d9;
  padding-bottom: 3%;
  padding-top: 1px;
}

.orderhrline {
  width: 80%;
  background: black;
}

.orderseparationStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#ordernameStyle {
  font-size: small;
}

#OrderdeliverStyle_outer {
  display: flow-root;
  justify-content: space-between;
  margin-top: 5%;
}

.orderdeliveryButtons {
  width: 45%;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
  color: #fff;
  cursor: pointer;
}

#yourOrderNowButton {
  background-color: #d2122e;
}
#yourOrderNowButton:hover {
  background-color: #fd5c63;
}

#yourOrderDeliverNowButton {
  background-color: black;
}

#yourOrderDeliverNowButton:hover {
  background-color: #36454f;
}

.orderseparationprice {
  padding-right: 4%;
}

.orderseparationtotal {
  padding-left: 4%;
}
