.homepage {
  text-align: center;
  margin: 5%;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  /* width: fit-content; */
}

h1,
h2,
p {
  font-family: "Inria Serif", serif;
}
